.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDo__title {
  font-style: italic;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

.form__wrapper {
  background-color: white;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__inp {
  font-style: italic;
  flex: 0.9;
  padding: 10px;
  border-radius: 5px;
  color: rgb(72, 72, 72);
  border: 1px solid rgb(12, 195, 240);
  outline: none;
}

.form__btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(12, 195, 240);
  background-color: transparent;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list {
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 20px 0;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-weight: 300;
}

.item {
  border: 1px solid rgb(12, 195, 240);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
}

.item__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;

  i {
    color: rgb(49, 49, 49);
    border: 1px solid rgb(183, 183, 183);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    &:active {
      background-color: rgb(156, 156, 156);
    }
  }
}

.colors {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
